* {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  color: rgb(12, 54, 110)
  
}

h2 {
  color: rgb(12, 54, 110)
}

h3 {
  color: rgb(12, 54, 110)
}