.home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("/images/pic\ 1.jpg");
  background-repeat: no repeat;
  background-position: contain;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0;
}
.home h1 {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}
.home p {
  margin-top: 10px;
  width: 50%;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0px;
}
.buttons {
  margin-top: 20px;
}
.buttons a {
  text-decoration: none;
}
.learn-more-button {
  padding: 10px 25px;
  border: 1px solid rgba(5, 4, 46, 0.7);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: rgb(5, 4, 46);
  transition: all 0.2s ease;
}
.learn-more-button:active,
.visit-courses-button:active {
  filter: brightness(0.8);
}
.visit-courses-button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 10px 25px;
  border: 1px solid rgb(223, 164, 15);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: rgb(223, 164, 16);
  transition: all 0.2s ease;
}
.visit-courses-button:hover,
.learn-more-button:hover {
  color: rgb(5, 4, 46);
  border: 1px solid rgb(5, 4, 46);
  background-color: #fff;
}

.features {
  padding: 8vw 4vw 0 4vw;
  text-align: center;
}

.features h1 {
  color: rgb(12, 54, 110);
  font-size: 2rem;
}
.features p {
  color: rgb(102, 101, 101);
  margin-top: 10px;
  margin-bottom: 0;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 30px;
}
.features .container {
  margin-top: 20px;
  text-align: start;
  background-color: #f9f9ff;
  padding: 20px;
  cursor: pointer;
  transition: all 0.15s ease;
}
.features .container:active {
  transform: scale(1.05);
}
.features .feature-container i {
  font-size: 2rem;
  color: rgb(44, 44, 80);
  padding: 10px;
}
.features .feature-container h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(46, 44, 60);
  padding: 10px;
}
.features .feature-container p {
  color: rgb(150, 147, 147);
  padding: 0 10px;
}
.courses {
  padding: 8vw 4vw 0 4vw;
  text-align: center;
}
.courses h1 {
  font-size: 2rem;
  color: rgb(12, 54, 110);
}
.courses p {
  color: rgb(102, 101, 101);
  margin-top: 8px;
  margin-bottom: 0;
}
.image-container {
  height: 305px;
  text-align: start;
  background-color: #f9f9ff;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease;
}
#star {
  color: rgb(133, 128, 128);
}
.image-container:active {
  transform: scale(1.05);
}
.image-container img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
.image-container p {
  margin-top: 10px;
  font-size: 0.9rem;
  margin-bottom: 0;
  color: rgb(102, 101, 101);
}
.image-container h3 {
  margin-top: 8px;
  color: rgb(12, 54, 110);
  font-size: 1.1rem;
}
.image-container span {
  color: rgb(223, 164, 16);
  margin-top: 5px;
}
.image-container .number {
  color: rgb(102, 101, 101);
  font-size: 0.9rem;
}
.image-container a {
  text-decoration: none;
}
.image-info {
  padding: 15px;
}
.price {
  height: 70px;
  width: 70px;
  border: 1px solid rgb(12, 54, 110);
  border-radius: 70px;
  background-color: rgb(12, 54, 110);
  line-height: 70px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  right: 20px;
  bottom: 90px;
  padding-left: 10px;
}
.main-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
}
.registration {
  padding: 7vw 6vw 10vw 6vw;
  margin-top: 8vw;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
      rgba(99, 115, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url("/images/pic\ 13.jpg");
  height: 100%;
  width: 100%;
}
.reminder {
  margin-bottom: 120px;
}
.reminder p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.reminder h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  padding: 0 10px;
  margin-bottom: 0;
}
.time {
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.timer {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  height: 80px;
  width: 100px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer .js {
  font-size: 35px;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.form h2 {
  font-size: 1.1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.form input {
  width: 240px;
  padding: 13px;
  margin-top: 18px;
  outline: none;
}
.form input::placeholder {
  font-size: 1rem;
}
.form a {
  text-decoration: none;
  margin-top: 18px;
  width: 150px;
}
.profile {
  padding: 8vw;
  text-align: center;
}
.profile h1 {
  font-size: 2rem;
  color: rgb(12, 54, 110);
}
.profile p {
  color: rgb(102, 101, 101);
  margin-top: 8px;
  margin-bottom: 0;
}
.main-profile-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  height: 100%;
}
.profile-container {
  background-color: #f9f9ff;
  padding: 30px 20px;
}
.profile-container img {
  width: 170px;
  height: 170px;
  border-radius: 170px;
  cursor: pointer;
  background-position: contain;
  background-size: cover;
  border: 10px solid #fff;
}
.social-media-icons {
  margin-top: 10px;
}
.social-media-icons a {
  text-decoration: none;
  color: #15273c;
  font-size: 1.2rem;
  padding: 7px 12px;
  border: 1px solid #15273c;
  cursor: pointer;
  transition: all 0.3s ease;
}
.social-media-icons a:hover {
  background-color: rgb(12, 54, 110);
  color: #fff;
}
.last-section {
  padding: 6vw;
  text-align: start;
  background-color: #0a1725;
  align-items: start;
}
.main-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer {
  line-height: 2.3;
}
.footer h2 {
  color: #fff;
  opacity: 0.98;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.footer li {
  color: #808080;
  opacity: 0.7;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  list-style: none;
}
.footer li:hover {
  color: #fff;
}

.input-footer {
  display: flex;
  margin-top: 10px;
}
.footer p {
  color: #808080;
  opacity: 0.7;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}
.input-footer input {
  padding: 5px;
  width: 180px;
  font-size: 0.95rem;
  background-color: #223f5e;
  border: none;
  color: #b3b1b1;
  opacity: 0.7;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.input-footer input::placeholder {
  font-size: 0.95rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
}
.subscribe {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 5px 13px;
  border: 1px solid rgb(223, 164, 15);
  color: rgb(12, 54, 110);
  font-weight: 500;
  background-color: rgb(223, 164, 16);
  transition: all 0.2s ease;
  text-decoration: none;
}

.subscribe:hover {
  color: rgb(5, 4, 46);
  border: 1px solid rgb(5, 4, 46);
  background-color: #fff;
  border: 1px solid #fff;
}
.copyright-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.copyright-footer h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.92;
}
.copyright-footer a {
  color: #fff;
  text-decoration: none;
  background-color: #375474;
  padding: 10px 15px;
  font-size: 1.1rem;
}
.copyright-footer a:hover {
  background-color: rgb(223, 164, 15);
  color: rgb(12, 54, 110);
}

@media (max-width: 769px) {
  .home h1 {
    padding: 10px;
  }
  .features {
    padding: 12vw 6vw 0 6vw;
    text-align: center;
  }
  .courses {
    padding: 12vw 6vw 0 6vw;
    text-align: center;
  }
  .time {
    display: flex;
    flex-wrap: wrap;
  }
  .form {
    margin-top: 40px;
  }
  .reminder {
    margin-bottom: 0;
  }
  .timer {
    padding: 10px 25px;
    display: flex;
    margin-top: 5px;
  }
  .profile {
    padding: 12vw 6vw 10vw 6vw;
    text-align: center;
  }
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .copyright-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }
}
@media (max-width: 864px) {
  .home h1 {
    padding: 10px;
  }
  nav {
    padding: 5px 20px;
  }
  nav img {
    width: 70px;
  }
  .features {
    padding: 12vw 6vw 0 6vw;
    text-align: center;
  }
  .courses {
    padding: 12vw 6vw 0 6vw;
    text-align: center;
  }

  .form {
    margin-top: 40px;
  }

  .profile {
    padding: 12vw 6vw 10vw 6vw;
    text-align: center;
  }
  .time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .timer {
    display: flex;
  }
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .copyright-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }
  .copyright-footer h2 {
    font-size: 2.2vmax;
  }
}
@media (max-width: 650px) {
  nav img {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 1.5rem;
  }

  .main-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  .registration {
    display: flex;
    flex-direction: column;
  }
  .reminder p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .reminder h1 {
    display: flex;
    text-align: center;
  }
  .form {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .form input {
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    margin-top: 20px;
  }
  .copyright-footer h2 {
    font-size: 2vmax;
  }
  .input-footer {
    height: 35px;
  }
  .input-footer input {
    width: 170px;
    font-size: 0.85rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .input-footer input::placeholder {
    font-size: 0.85rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  .subscribe {
    border: none;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 0.9rem;
    height: 35px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    vertical-align: top;
  }
}
